.d-none{
    display: none !important;
}

.chat-details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0.4;
    max-width: 400px;
    /* display: none; */
    position: relative;    
}

.chat-details-container-close{
    position: absolute;
    left: 25px;
    top: 25px;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 5px;    
}

.chat-details-container-close:hover{
    background: #ececec;
}

.chat-details-name-details{
    text-align: center;
}

.chat-details-name{
    color: #222222;
    font-weight: 900;
    font-size: 17px;
}

.chat-details-tag{
    color: #979696;
    font-size: 14px;
}

.chat-details-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    row-gap: 15px;
}

.chat-details-pfp{
    width: 90px;
    border-radius: 50%;
}

.chat-details-options{
    display: flex;
    column-gap: 17px;
    align-items: flex-start;
    justify-content: center;    
}

.chat-details-option-container{    
    max-width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;    
    row-gap: 5px;
    cursor: pointer;
}



.chat-details-icon-container{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D6E4E5;
    border-radius: 50%;  
}

.chat-details-option-container:hover .chat-details-icon-container{
    background: #c7d8da;
}

.chat-details-icon{
    color: #497174;
    transform: scale(0.9);
}

.chat-details-option-name{
    max-width: 50px;
    font-size: 13px;
    color: #555555;
    font-weight: 500;
}

.chat-details-media-container, .chat-details-additional, .chat-details-media-list{
    width: 100%;
    display: flex;    
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    row-gap: 10px;
}

.chat-details-media-container{
    height: 100%;
    flex-grow: 1;
}

.chat-details-additional{
    row-gap: 15px;
    padding: 20px;
}

.chat-details-media-title-container, .chat-details-media-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
}

.chat-details-media-item{
    cursor: pointer;
    margin-top: 10px;
}

.chat-details-media-icon-name{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.chat-details-additional-name{
    color: #222222;
    font-weight: 600;
    font-size: 13px;
}

.chat-details-additional-content{
    color: #7a7a7a;
    font-size: 15px;
}

.chat-details-media-title{
    font-weight: 600;
    color: #333333;
    font-size: 17px;
}

.chat-details-media-view-all{
    font-size: 14px;
    color: #EC9178;
    cursor: pointer;
    font-weight: 600;
}

.chat-details-media-view-all:hover{
    color: #d8866f;
}

.chat-details-media-title-container{
    cursor: pointer;
}

.chat-details-media-title-container:hover .chat-details-media-view-all{
    color: #d8866f;
}

.chat-details-file-icon-container{
    height: 35px;
    width: 35px;
    background: #D6E4E5; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.chat-details-media-file-icon{
    color: #497174;       
}

.chat-details-media-file-name{
    color: #333333;
    font-size: 15px;
    font-weight: 500;
}

.chat-details-media-date{
    font-size: 13px;
    color: #888888;
}

.chat-details-media-size{
    font-size: 13px;
    color: #555555;
    margin-right: 12px;
}

.chat-details-media-list{
    row-gap: 15px;
}